#area{
    position: relative;
    background-color: antiquewhite;
}

.body{
    position: absolute;
    background-color: rgb(0, 87, 0);
    border-radius: 30%;
}

.food{
    position: absolute;
    background-color: rgb(0, 21, 255);
    border-radius: 50%;
}